<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions" href=""><img class='img-fluid logo-navbar-size' src="{{asset('images/logo/logo-removebg-preview.png')}}" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link fs-5" aria-current="page" href="{{path('visitor.welcome.index')}}">Retour à l'accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" href="{{path('visitor.authentication.logout')}}">Deconexion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>