<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} - Jusqu'au bout de monde</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="keywords" content="Jusqu'au bout de monde, voyage, blog, aventure, histoire, {% block keywords %}{% endblock %}"/>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class='body-layout'>
        {% include "layouts/visitor/navbar.html.twig" %}
        <main>
            {% block main %}{% endblock %}
        </main>
        {# {% include "layout/visitor/footer.html.twig" %} #}
    </body>
</html>