.nav-item-active
{
    color: olivedrab !important;
    text-decoration: underline !important;
    font-weight: bolder;
}

.sidevar-item-active{
    color: #009600 !important;
    font-weight: bolder !important;
}

.dropdown-menu{
    overflow: hidden;
    overflow-y: auto;
    max-height: 165px;
}

.footer-bg{
    background-color: #3F4A3C;
}