<h1>Salut! veuillez confirmer votre email!</h1>

<p>
    Veuillez confirmer votre adresse e-mail en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A bientôt!
</p>
